body, p {
    margin: 0px;
}

#header {
    border-bottom: 1px solid #cacaca;
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    text-align: center;
}

#header a {
    margin-right: 15px;
    color: red;
    text-decoration: none;
}

#content {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
}

#content .bio {
    margin-bottom: 60px;
}

#content img {
    width: 50%;
    margin: 0 auto 30px auto;
    display: block;
}

#content p {
    width: 50%;
    margin: 0 auto 30px auto;
    display: block;
}

#footer {
    padding: 20px;
    border-top: 1px solid #cacaca;
    text-align: center;
}

.card {
    width: 500px;
    height: 500px;
    background-color: purple;
    margin-bottom: 20px;
    position: relative;
}

.card p {
    position: absolute;
    top: 10px;
    right: 10px;
}